# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=restaurant_pos
DB_USER=postgres
DB_PASSWORD=senha123

# Server
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=sua_chave_secreta_aqui

# Socket.io
SOCKET_PORT=3002

# Printer
PRINTER_DEVICE=/dev/usb/lp0
